<!DOCTYPE html>
<html lang="pt-BR">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
    

    <title>Crawller Find FAQ Content</title>
</head>

<body>
    
    <div class="container">
        <form action="/get-faq" method="post">
            <h1>Find FAQ Content</h1>

            <label>Seletor:</label><br>
            <input type="text" name="selector"><br>
            <label>URL's:</label><br>
            <textarea name="list"></textarea><br>



            <button type="submit" id="submit">SEND</button>
            


        </form>
    </div>
    <script></script>
</body>

</html>